<form action= "/<%= action %>" method="post">
    <input type="text" name="task" id="task" autocomplete="off" placeholder="Insira uma tarefa" value="<%= value %>" > 
    <button id="addButton" type="submit"> </button>
</form>