@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Roboto+Mono:wght@700&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #000;
    color: #fff;

    font-family: 'Arvo', serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

main {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 20%;
    height: 50%;

    display: flex;
    flex-direction: column;

    gap: 5px;
}

.visor {
    height: 20%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#num_visor {
    padding-right: 5%;
    font-size: 150%;
}

.teclado {
    height: 20%;

    display: flex;
    
    gap: 5px;
}

.tecla, .tecla_num, .tecla_ope {
    width: 25%;
    height: 100%;

    background: none;
    border: none;

    color: rgb(0, 0, 0);

    font-size: 18pt;
    font-family: 'Arvo', serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.tecla {
    background-color: rgb(57, 57, 57);
}

.tecla_num {
    background-color: rgb(14, 14, 14);
    color: white;
}

.tecla_ope {
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 760px) {
    .calculator {
        width: 80%;
        height: 80%;
    }
}